<link rel="stylesheet" type="text/css" media="screen" href="public/static/css/home.css" />

<section class="home" id="idHome">
  <div class="home-container">
      <div class="home-content">
          <h2 class="home-name">Tiago</h2>
          <h2 class="home-name">Moraes</h2>
          <p class="home-text">
            Hi, I’m Tiago Moraes, a tech enthusiast end full stack web developer, with experience in front-end, back-end and project management.
          </p>
          <a href="#idContact" class="home-call">CONTACT ME</a>
      </div>
      <a href="#idAbout" class="home-down">
          <i class="fas fa-caret-down"></i>
      </a>
  </div>
</section>