<link rel="stylesheet" type="text/css" media="screen" href="public/static/css/navbar.css" />
<nav class="navbar" id="idNavbar">
  <div class="navbar-container">
    <a class="navbar-logo" href="#idHome">
      <img class="navbar-logo__image" src="public/static/icons/logo.svg" alt="Tiago Moraes Logo">
    </a>
    <div class="navbar-collapse">
      <ul class="navbar-buttons" id="navbar-buttons-list">
        <a href="#idHome" class="navbar-buttons-link">
          <li class="navbar-buttons-text">HOME</li>
        </a>
        <a href="#idHome" class="navbar-buttons-link">
          <li class="navbar-buttons-text">ABOUT</li>
        </a>
        <a href="#idHome" class="navbar-buttons-link">
          <li class="navbar-buttons-text">PROJECTS</li>
        </a>
        <a href="#idHome" class="navbar-buttons-link navbar-buttons-link__custom">
          <li class="navbar-buttons-text">CONTACT</li>
        </a>
      </ul>
    </div>
    <div class="navbar-hamburger" id="navbar-hamburger">
      <div class="navbar-hamburger-bar bar-0"></div>
      <div class="navbar-hamburger-bar bar-1"></div>
      <div class="navbar-hamburger-bar bar-2"></div>
    </div>
  </div>
</nav>

<!-- MOBILE NAVBAR -->
<nav class="navbar-mobile" id="navbar-mobile">
  <div class="navbar-mobile-container">
    <div class="navbar-mobile-top">
      <ul class="navbar-mobile-buttons">
        <a href="#idHome" class="navbar-mobile-buttons-link">
          <li class="navbar-mobile-buttons-text">HOME</li>
        </a>
        <a href="#idHome" class="navbar-mobile-buttons-link">
          <li class="navbar-mobile-buttons-text">ABOUT</li>
        </a>
        <a href="#idHome" class="navbar-mobile-buttons-link">
          <li class="navbar-mobile-buttons-text">PROJECTS</li>
        </a>
        <a href="#idHome" class="navbar-mobile-buttons-link__custom">
          <li class="navbar-mobile-buttons-text">CONTACT</li>
        </a>
      </ul>
    </div>
    <div class="navbar-mobile-separator"></div>
    <div class="navbar-mobile-bottom">
      <a target="blank" href="https://github.com/tiagomoraes/" class="navbar-mobile-bottom-link">
        <i class="fab fa-github navbar-mobile-bottom-icon"></i>
      </a>
      <a target="blank" href="https://www.linkedin.com/in/tiagobmoraes/" class="navbar-mobile-bottom-link">
        <i class="fab fa-linkedin-in navbar-mobile-bottom-icon"></i>
      </a>
      <a href="mailto:tiago3902@gmail.com" class="navbar-mobile-bottom-link">
        <i class="fas fa-envelope navbar-mobile-bottom-icon"></i>
      </a>
    </div>
  </div>
</nav>

<!-- Scripts -->