<link rel="stylesheet" type="text/css" media="screen" href="public/static/css/navbar.css" />
<nav class="navbar" id="idNavbar">
  <div class="navbar-container">
    <a class="navbar-logo" href="#idHome">
      <img class="navbar-logo__image" src="public/static/icons/Logo_TiagoMoraes_BLACK.svg" alt="Tiago Moraes Logo">
    </a>
    <div class="navbar-collapse">
      <ul class="navbar-buttons" id="navbar-buttons-list">
        <a href="#idHome" class="navbar-buttons-link">
          <li class="navbar-buttons-text">HOME</li>
        </a>
        <a href="#idHome" class="navbar-buttons-link">
          <li class="navbar-buttons-text">ABOUT</li>
        </a>
        <a href="#idHome" class="navbar-buttons-link">
          <li class="navbar-buttons-text">PROJECTS</li>
        </a>
        <a href="#idHome" class="navbar-buttons-link navbar-buttons-link__custom">
          <li class="navbar-buttons-text">CONTACT</li>
        </a>
      </ul>
    </div>
    <div class="navbar-hamburger" id="navbar-hamburger">
      <div class="navbar-hamburger-bar bar-0"></div>
      <div class="navbar-hamburger-bar bar-1"></div>
      <div class="navbar-hamburger-bar bar-2"></div>
    </div>
  </div>
</nav>
<nav class="navbar-mobile" id="navbar-mobile">

</nav>

<!-- Sidebar -->
<div class="sidebar">
  <a target="blank" href="https://github.com/tiagomoraes/" class="sidebar-link">
    <i class="fab fa-github sidebar-icon"></i>
  </a>
  <a target="blank" href="https://www.linkedin.com/in/tiagobmoraes/" class="sidebar-link">
    <i class="fab fa-linkedin-in sidebar-icon"></i>
  </a>
  <a href="mailto:tiago3902@gmail.com" class="sidebar-link">
    <i class="fas fa-at sidebar-icon"></i>
  </a>
</div>

<!-- Scripts -->