<link rel="stylesheet" type="text/css" media="screen" href="public/static/css/sidebar.css" />
<div class="sidebar">
  <a target="blank" href="https://github.com/tiagomoraes/" class="sidebar-link">
    <i class="fab fa-github sidebar-icon"></i>
  </a>
  <a target="blank" href="https://www.linkedin.com/in/tiagobmoraes/" class="sidebar-link">
    <i class="fab fa-linkedin-in sidebar-icon"></i>
  </a>
  <a href="mailto:tiago3902@gmail.com" class="sidebar-link">
    <i class="fas fa-envelope sidebar-icon"></i>
  </a>
</div>