<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tiago Moraes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--importing Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600" rel="stylesheet">
    
    <!--inporting icons-->
    <!--FAVICON-->
    <link rel="apple-touch-icon" sizes="57x57" href="public/static/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="public/static/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="public/static/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="public/static/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="public/static/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="public/static/icons/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="public/static/icons/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="public/static/icons/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="public/static/icons/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="public/static/icons/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/static/icons/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="public/static/icons/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/static/icons/favicon/favicon-16x16.png">
    <link rel="manifest" href="public/static/icons/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="public/static/icons/favicon/ms-icon-144x144.png">
    
    <!--Customized head bars-->
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <!--animate.css-->
    <link rel="stylesheet" type="text/css" media="screen" href="public/static/css/animate.css" />

    <!--Slick CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />

    <!--Main CSS-->
    <link rel="stylesheet" type="text/css" media="screen" href="public/static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="public/static/css/style.css" />

</head>
<body>
    <div class="flex-container">
        <nav class="navbar" id="idNavbar">
            <a class="navbar-logo" href="#idHome">
                <img class="navbar-logo__image" src="public/static/icons/TM-Logo-low-res.png" alt="My logo">
                <h2 class="navbar-logo__text">TIAGO MORAES</h2>
            </a>
            <div class="navbar-collapse">
                <ul class="navbar-buttons" id="navbar-buttons-list">
                    <li>
                        <a class="navbar-buttons__link" href="#idHome">HOME</a>
                    </li>
                    <li>
                        <a class="navbar-buttons__link" href="#idAbout">ABOUT</a>
                    </li>
                    <li>
                        <a class="navbar-buttons__link" href="#idProjects" target="_blank">PROJECTS</a>
                    </li>
                    <li>
                        <a class="navbar-buttons__link" href="#idContact">CONTACT</a>
                    </li>
                    <li>
                        <a class="navbar-buttons__link" href="#idFooter">SOCIAL</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-hamburger navbar-responsive">
                <div class="navbar-hamburger-box">
                    <a class="navbar-hamburger-icon" id="navbar-x-container">
                        <div class="navbar-hamburger__bar bar1"></div>
                        <div class="navbar-hamburger__bar bar2"></div>
                        <div class="navbar-hamburger__bar bar3"></div>
                    </a>
                </div>
            </div>
        </nav>
        <section class="home" id="idHome">
            <div class="home-content">
                <div class="home-content__bar wow fadeInLeft"></div>
                <div class="home-content-box wow zoomIn">
                    <h2 class="home-content-box__title">DEVELOPER PORTIFOLIO</h2>
                </div>
                <div class="home-content__bar wow fadeInRight"></div>
            </div>
            <a href="#idAbout" class="home-down wow fadeInDown">
                <i class="fas fa-caret-down"></i>
            </a>
            <div id="particles-js" class="home-particles"></div>
        </section>
        <section class="about" id="idAbout">
            <div class="about-flex-container">
                <div class="about-content-box">
                    <h2 class="about-title wow fadeInUp">ABOUT <span class="about-title__small">ME</span></h2>
                    <div class="about-text">
                        <p class="about-text-paragraph about-text-paragraph__big wow fadeInUp">Computer Science student at <a href="https://www.ufpe.br/" target="_blank" class="highlight link">UFPE</a> and tech enthusiast.</p>
                        <p class="about-text-paragraph wow fadeInUp">Developing is one of my passions and now a part of me. I Love studying and discovering new stuff, turning complex problems into simple ones. When i'm not coding, i'm the biggest YouTube fan and random videos lover.</p>
                        <p class="about-text-paragraph wow fadeInUp">Currently I’m a Full Stack developer <a href="http://citi.org.br/" target="_blank" class="highlight link">@CITi</a> and opened for new oportunities.</p>
                    </div>
                    <h2 class="about-title about-title__small wow fadeInUp">What I know?</h2>
                    <div class="about-text">
                        <ul class="about-know">
                            <li class="about-know__item wow fadeInUp">Java</li>
                            <li class="about-know__item wow fadeInUp">C++</li>
                            <li class="about-know__item wow fadeInUp">HTML</li>
                            <li class="about-know__item wow fadeInUp">CSS</li>
                            <li class="about-know__item wow fadeInUp">JavaScript</li>
                            <li class="about-know__item wow fadeInUp">jQuery</li>
                            <li class="about-know__item wow fadeInUp">Python</li>
                            <li class="about-know__item wow fadeInUp">Django</li>
                            <li class="about-know__item wow fadeInUp">Express.js</li>
                        </ul>
                    </div>
                </div>
                <div class="about-image-container">
                    <img class="about-image__image wow fadeInUp" data-wow-offset="50" src="public/static/images/profile1.jpg" alt="Minha foto de perfil">
                    <div class="about-image-text wow fadeInUp">
                        <span class="about-image-text__text" id="typed"></span>
                    </div>
                </div>

                <div id="typed-html">
                    <p></p>
                    <p>
                        Hi, I'm <span class="highlight">TIAGO MORAES</span>. 
                    </p>
                    <p>
                        Nice to meet you!
                    </p>
                </div>
            </div>
        </section>
        <section class="projects" id="idProjects">
            <div class="projects-flex-container">
                <div class="projects-title wow fadeInUp">
                    <span class="projects-title__text">PROJECTS</span>
                </div>
                <div class="projects-slick-container wow fadeInUp">
                    <i class="fas fa-chevron-left projects-slick__arrow" id="projects-slick__left"></i>
                    <div class="projects-slick">
                        <div class="projects-slick-item">
                            <div class="projects-slick-item__image" style="background-image: url(public/static/images/print-portifolio.jpg);"></div>
                            <div class="projects-slick-item-content">
                                <span class="projects-slick-item-content__title">PORTIFOLIO</span>
                                <p class="projects-slick-item-content__text">
                                    A simple one-page website on Express.js deployed on Heroku for displaying some of my projetcs and social media.
                                </p>
                            </div>
                            <div class="projects-slick-item-footer">
                                <a href="/portifolio" class="projects-slick-item-footer__link">
                                    <i class="fas fa-mouse-pointer"></i> Click to see more
                                </a>
                            </div>
                        </div>
                        <div class="projects-slick-item">
                            <div class="projects-slick-item__image" style="background-image: url(public/static/images/print-integrar.jpg);"></div>
                            <div class="projects-slick-item-content">
                                <span class="projects-slick-item-content__title">INTEGRAR JR</span>
                                <p class="projects-slick-item-content__text">
                                    An one-page website developed for Integar Jr junior enterprise on CITi's trainee process.
                                </p>
                            </div>
                            <div class="projects-slick-item-footer">
                                <a href="/integrar" class="projects-slick-item-footer__link">
                                    <i class="fas fa-mouse-pointer"></i> Click to see more
                                </a>
                            </div>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right projects-slick__arrow" id="projects-slick__right"></i>
                </div>
            </div>
        </section>
        <section class="contact" id="idContact">
            <div class="contact-filter"></div>
            <div class="contact-flex-container">
                <h2 class="contact-title">CONTACT</h2>
                <form method="POST" action="send" class="contact-form" id="contact-form">
                    <div class="contact-form-box">
                        <input type="text" name="name" id="name" placeholder="Name*" class="contact-form__field form-small" required>
                        <input type="tel" name="phone" id="phone" placeholder="Phone" class="contact-form__field form-small">
                    </div>
                    <input type="email" name="email" id="email" placeholder="Email*" class="contact-form__field" required>
                    <input type="text" name="subject" id="subject" placeholder="Subject" class="contact-form__field">
                    <div class="contact-form__field">
                        <select name="how_select" id="how" class="contact-form__selector">
                            <option value="default" disabled selected>How did you get here?</option>
                            <option value="Social Network">Social Network</option>
                            <option value="CIn Website">Cin Website</option>
                            <option value="Some friend">Some Friend</option>
                            <option value="Other">Other</option>                            
                        </select>
                    </div>
                    <textarea type="text" name="message" id="message" placeholder="Message" class="contact-form__field form-tall"></textarea>
                    <span class="contact-success">{{status}}</span>
                    <button type="submit" class="contact-form__submit">Send</button>
                </form>
            </div>
        </section>
        <footer class="footer" id="idFooter">
            <div class="footer-flex-container">
                <a href="#idHome" class="footer-logo">
                    <i class="fas fa-caret-up footer-logo__arrow"></i>
                    <img class="footer-logo__image" src="public/static/icons/TM-Logo-low-res.png" alt="My logo">
                </a>
                <div class="footer-social">
                    <div class="footer-social-box">
                        <a class="footer-social-link" href="https://www.linkedin.com/in/tiago-moraes-7516a015b/" target="_blank">
                            <img class="footer-social__icon" src="public/static/icons/social/iconmonstr-linkedin-4.svg" alt="My Linkedin">
                            <span class="footer-social__text">tiago-moraes-7516a015b</span>
                        </a>
                        <a class="footer-social-link" href="https://github.com/tiagomoraes" target="_blank">
                            <img class="footer-social__icon" src="public/static/icons/social/iconmonstr-github-1.svg" alt="My GitHub">
                            <span class="footer-social__text">tiagomoraes</span>
                        </a>
                    </div>
                    <div class="footer-social-box">
                        <a class="footer-social-link" href="mailto:tiago3902@gmail.com" target="_blank">
                            <img class="footer-social__icon" src="public/static/icons/social/iconmonstr-email-10.svg" alt="My email">
                            <span class="footer-social__text">tiago3902@gmail.com</span>
                        </a>
                        <a class="footer-social-link" href="https://web.facebook.com/tiago.moraes.14224/" target="_blank">
                            <img class="footer-social__icon" src="public/static/icons/social/iconmonstr-facebook-4.svg" alt="My Facebook">
                            <span class="footer-social__text">tiago.moraes.14224</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-copyright">
                    Copyright <i class="far fa-copyright"></i> 2018 by Tiago Moraes
                </div>
                <div class="footer-bottom-made">Made with
                    <i class="fa fa-code"></i> and
                    <i class="far fa-heart" id="coracao"></i>
                </div>
            </div>
        </footer>
    </div>

    <!--jQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!--Slick JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

    <!--Particles.js-->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <!--Typed CDN-->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

    <!--WOW.js-->
    <script src="public/static/js/wow.min.js"></script>
    <script>
        let wow = new WOW({
            mobile: false,
        });
        wow.init();
    </script>

    <!--main.js-->
    <script src="public/static/js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134148955-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134148955-1');
    </script>

</body>
</html>