<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <title>Tiago Moraes</title>

    <meta name="description" content="My personal web-developer portifolio, containing all projects I worked on, the tecnologies I know and some contact and social information.">
    <meta name="keywords" content="Tiago,Moraes,Portifolio,Developer,CITi,HTML,CSS,JavaScript,Node,Django,Express,Integarar,Contact,Social">
    <meta name="author" content="Tiago Moraes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--importing Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap" rel="stylesheet">
    
    <!--inporting icons-->
    <!--FAVICON-->
    <link rel="apple-touch-icon" sizes="57x57" href="public/static/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="public/static/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="public/static/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="public/static/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="public/static/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="public/static/icons/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="public/static/icons/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="public/static/icons/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="public/static/icons/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="public/static/icons/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/static/icons/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="public/static/icons/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/static/icons/favicon/favicon-16x16.png">
    <link rel="manifest" href="public/static/icons/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="public/static/icons/favicon/ms-icon-144x144.png">
    
    <!--Customized head bars-->
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <!--Slick CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />

    <!--Main CSS-->
    <link rel="stylesheet" type="text/css" media="screen" href="public/static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="public/static/css/style.css" />

</head>
<body>
    <div class="flex-container">
        <% include partials/navbar.ejs %>
        <% include partials/sidebar.ejs %>
        <% include partials/home.ejs %>
    </div>

    <!--jQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!--Slick JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

    <!--Particles.js-->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    <!--Typed CDN-->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

    <!--main.js-->
    <script src="public/static/js/main.js"></script>
    <script src="public/static/js/navbar.js"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134148955-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-134148955-1');
    </script>

</body>
</html>