doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Tiago Moraes
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // importing Google fonts
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600' rel='stylesheet')
  // inporting icons
  // FAVICON
  link(rel='apple-touch-icon' sizes='57x57' href='static/icons/apple-icon-57x57.png')
  link(rel='apple-touch-icon' sizes='60x60' href='static/icons/apple-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='72x72' href='static/icons/apple-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='76x76' href='static/icons/apple-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='static/icons/apple-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='static/icons/favicon/apple-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='static/icons/favicon/apple-icon-144x144.png')
  link(rel='apple-touch-icon' sizes='152x152' href='static/icons/favicon/apple-icon-152x152.png')
  link(rel='apple-touch-icon' sizes='180x180' href='static/icons/favicon/apple-icon-180x180.png')
  link(rel='icon' type='image/png' sizes='192x192' href='static/icons/favicon/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='static/icons/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='static/icons/favicon/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='static/icons/favicon/favicon-16x16.png')
  link(rel='manifest' href='static/icons/favicon/manifest.json')
  meta(name='msapplication-TileColor' content='#ffffff')
  meta(name='msapplication-TileImage' content='static/icons/favicon/ms-icon-144x144.png')
  // Customized head bars
  meta(name='theme-color' content='#ffffff')
  meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
  // FontAwesome
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous')
  // Slick CSS
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css')
  // Main CSS
  link(rel='stylesheet' type='text/css' media='screen' href='static/css/normalize.css')
  link(rel='stylesheet' type='text/css' media='screen' href='static/css/style.css')
.flex-container
  nav#idNavbar.navbar
    a.navbar-logo(href='#idHome')
      img.navbar-logo__image(src='static/icons/TM-Logo-low-res.png' alt='My logo')
      h2.navbar-logo__text TIAGO MORAES
    .navbar-collapse
      ul#navbar-buttons-list.navbar-buttons
        li
          a.navbar-buttons__link(href='#idHome') HOME
        li
          a.navbar-buttons__link(href='#idAbout') ABOUT
        li
          a.navbar-buttons__link(href='#idProjects' target='_blank') PROJECTS
        li
          a.navbar-buttons__link(href='#idContact') CONTACT
        li
          a.navbar-buttons__link(href='#idFooter') SOCIAL
    .navbar-hamburger.navbar-responsive
      .navbar-hamburger-box
        a#navbar-x-container.navbar-hamburger-icon
          .navbar-hamburger__bar.bar1
          .navbar-hamburger__bar.bar2
          .navbar-hamburger__bar.bar3
  section#idHome.home
    .home-content
      .home-content__bar
      .home-content-box
        h2.home-content-box__title DEVELOPER PORTIFOLIO
      .home-content__bar
    a.home-down(href='#idAbout')
      i.fas.fa-caret-down
  section#idAbout.about
    .about-flex-container
      .about-content-box
        h2.about-title
          | ABOUT 
          span.about-title__small ME
        .about-text
          p.about-text-paragraph.about-text-paragraph__big
            | Computer Science student at 
            a.highlight.link(href='https://www.ufpe.br/' target='_blank') UFPE
            |  and tech enthusiast.
          p.about-text-paragraph
            | Developing is one of my passions and now a part of me. I Love studying and discovering new stuff, turning complex problems into simple ones. When i&apos;m not coding, i&apos;m the biggest YouTube fan and random videos lover.
          p.about-text-paragraph
            | Currently I&rsquo;m a Full Stack developer 
            a.highlight.link(href='http://citi.org.br/' target='_blank') @CITi
            |  and opened for new oportunities.
        h2.about-title.about-title__small What I know?
        .about-text
          ul.about-know
            li.about-know__item Java
            li.about-know__item C++
            li.about-know__item HTML
            li.about-know__item CSS
            li.about-know__item JavaScript
            li.about-know__item jQuery
            li.about-know__item Python
            li.about-know__item Django
      .about-image-container
        img.about-image__image(src='static/images/profile1.jpg' alt='Minha foto de perfil')
        .about-image-text
          span#typed.about-image-text__text
      #typed-html
        p
        p
          | Hi, I&apos;m 
          span.highlight TIAGO MORAES
          | .
        p
          | Nice to meet you!
  section#idProjects.projects
    .projects-flex-container
      .projects-title
        span.projects-title__text PROJECTS
      .projects-slick-container
        i#projects-slick__left.fas.fa-chevron-left.projects-slick__arrow
        .projects-slick
          .projects-slick-item
            .projects-slick-item__image(style='background-image: url(static/images/print-portifolio.jpg);')
            .projects-slick-item-content
              span.projects-slick-item-content__title PORTIFOLIO
              p.projects-slick-item-content__text
                | A simple one-page website deployed on CIn&apos;s webserver for displaying some of my projetcs and social media.
            .projects-slick-item-footer
              span.projects-slick-item-footer__link(number='1')
                i.fas.fa-mouse-pointer
                |  Click to see more
          .projects-slick-item
            .projects-slick-item__image(style='background-image: url(static/images/print-integrar.jpg);')
            .projects-slick-item-content
              span.projects-slick-item-content__title INTEGRAR JR
              p.projects-slick-item-content__text
                | An one-page website developed for Integar Jr junior enterprise on CITi&apos;s trainee process.
            .projects-slick-item-footer
              span.projects-slick-item-footer__link(number='2')
                i.fas.fa-mouse-pointer
                |  Click to see more
        i#projects-slick__right.fas.fa-chevron-right.projects-slick__arrow
    #projects-modal-1.projects-modal(style='display: none;')
      .projects-modal-top
        span.projects-modal__title
          | PORTIFOLIO
        .projects-modal__close(number='1')
          i.fas.fa-times
      .projects-modal-content
        .projects-modal-content-text
          p.projects-modal-content-text__paragraph
            span.projects-modal-content-text__paragraph-big
              | A simple one-page website developed in pure HTML, CSS and JS (with jQuery).
          p.projects-modal-content-text__paragraph
            | It&apos;s deployed on CIn&apos;s webserver on my personal page at CIn&apos;s website.
            | At the page is possible to see all my projects, make contact with me and see my social media.
        .projects-modal-content-image
          img.projects-modal-content-image__mac(src='static/images/mac-portifolio.jpg' alt='Mac monitor template')
          .projects-modal-content-buttons
            a(href='https://github.com/tiagomoraes/portifolio' target='_blank')
              img.projects-modal-content__github(src='static/icons/social/iconmonstr-github-1.svg' alt='GitHub repository of portifolio project')
            a.projects-modal-content-buttons-visit(href='https://cin.ufpe.br/~tbm2/' target='_blank')
              i.fas.fa-mouse-pointer
              |  cin.ufpe.br/~tbm2
    #projects-modal-2.projects-modal(style='display: none;')
      .projects-modal-top
        span.projects-modal__title
          | INTEGRAR JR
        .projects-modal__close(number='2')
          i.fas.fa-times
      .projects-modal-content
        .projects-modal-content-text
          p.projects-modal-content-text__paragraph
            span.projects-modal-content-text__paragraph-big
              | A Django based one-page website developed for Integar Jr junior enterprise.
          p.projects-modal-content-text__paragraph
            | The page is develop in Django with pure HTML, CSS and JS (with jQuery) and deployed on Heroku.
            | This website was developed for Integrar Jr in CITi&apos;s trainee process by me, Carol, Gabriel and Vinicius.
        .projects-modal-content-image
          img.projects-modal-content-image__mac(src='static/images/mac-integrar.jpg' alt='Mac monitor template')
          a.projects-modal-content-visit(href='https://integrarjr.com.br/' target='_blank')
            i.fas.fa-mouse-pointer
            |  integrarjr.com.br
  section#idContact.contact
    .contact-flex-container
      h2.contact-title CONTACT
      form#contact-form.contact-form(method='POST')
        .contact-form-box
          input#name.contact-form__field.form-small(type='text' name='name' placeholder='Name*' required='')
          input#phone.contact-form__field.form-small(type='tel' name='phone' placeholder='Phone')
        input#email.contact-form__field(type='email' name='email' placeholder='Email*' required='')
        input#subject.contact-form__field(type='text' name='subject' placeholder='Subject')
        .contact-form__field
          select#how.contact-form__selector(name='how_select')
            option(value='default' disabled='' selected='') How did you get here?
            option(value='Social Network') Social Network
            option(value='CIn Website') Cin Website
            option(value='Some friend') Some Friend
            option(value='Other') Other
        textarea#message.contact-form__field.form-tall(type='text' name='message' placeholder='Message')
        span#contact-success.contact-success Message sent with success!
        input#contact-form__submit.contact-form__submit(type='submit' value='Send')
  footer#idFooter.footer
    .footer-flex-container
      a.footer-logo(href='#idHome')
        i.fas.fa-caret-up.footer-logo__arrow
        img.footer-logo__image(src='static/icons/TM-Logo-low-res.png' alt='My logo')
      .footer-social
        .footer-social-box
          a.footer-social-link(href='https://www.linkedin.com/in/tiago-moraes-7516a015b/' target='_blank')
            img.footer-social__icon(src='static/icons/social/iconmonstr-linkedin-4.svg' alt='My Linkedin')
            span.footer-social__text tiago-moraes-7516a015b
          a.footer-social-link(href='https://github.com/tiagomoraes' target='_blank')
            img.footer-social__icon(src='static/icons/social/iconmonstr-github-1.svg' alt='My GitHub')
            span.footer-social__text tiagomoraes
        .footer-social-box
          a.footer-social-link(href='mailto:tiago3902@gmail.com' target='_blank')
            img.footer-social__icon(src='static/icons/social/iconmonstr-email-10.svg' alt='My email')
            span.footer-social__text tiago3902@gmail.com
          a.footer-social-link(href='https://web.facebook.com/tiago.moraes.14224/' target='_blank')
            img.footer-social__icon(src='static/icons/social/iconmonstr-facebook-4.svg' alt='My Facebook')
            span.footer-social__text tiago.moraes.14224
    .footer-bottom
      .footer-bottom-copyright
        | Copyright 
        i.far.fa-copyright
        |  2018 by Tiago Moraes
      .footer-bottom-made
        | Made with
        i.fa.fa-code
        |  and
        i#coracao.far.fa-heart
// jQuery CDN
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://code.jquery.com/jquery-1.11.0.min.js')
script(src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
// Slick JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js')
// Typed CDN
script(src='https://cdn.jsdelivr.net/npm/typed.js@2.0.9')
// EmailJS CDN and activation
script(type='text/javascript' src='https://cdn.emailjs.com/sdk/2.2.4/email.min.js')
script(type='text/javascript').
  (function(){
  emailjs.init("user_stL2ESqX66lExpgZmGr1W");
  })();
// main.js
script(src='static/js/main.js')
