.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-image: url(../images/eberhard-grossgasteiger-382452-unsplash-low-res-blk.jpeg);
  
  background-size: cover;
  background-repeat: space;
  background-attachment: fixed;
  background-position-x: center;
  filter: grayscale(100%);
  overflow: hidden;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 1200px;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.home-name {
  font-weight: 700;
  font-size: 7rem;
  color: #ffffff;
  margin: 0;
}

.home-text {
  width: 50%;
  font-size: 1.3rem;
  color: #ffffff;
  margin-bottom: 2.5rem;
}

.home-text {
  border-left: 2px solid #ffffff;
  padding-left: .8rem;
}

.home-call {
  padding: .7rem 2rem;
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 50px;
  border: 2px solid #ffffff;
  transition: .2s all ease-in-out;
}

.home-call:hover {
  background-color: transparent;
  color: #ffffff;
}

.home-down {
  align-self: center;
  position: absolute;
  bottom: calc(0% + 2rem);
  transition: .2s all ease-in-out;
}

.home-down:hover {
  transform: translateY(-.5rem) scale(1.05);
}

/* iPad pro*/
@media(max-width: 1024px) {
  .home-container {
    width: 85%;
  }

  .home-name {
    font-size: 6rem;
  }

  .home-text {
    width: calc(100% - 1rem);
  }
}

/* iPad pro*/
@media(max-width: 768px) {
  .home-name {
    font-size: 4.5rem;
  }

  .home-text {
    width: calc(100% - .8rem);
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }

  .home-call {
    padding: .6rem 1.5rem;
    font-size: 1.1rem;
  }

  .home-down {
    bottom: calc(0% + 1rem);
  }
}