body {
  font-family: 'Work Sans', sans-serif;
}

.navbar {
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;

  z-index: 1;
}

.navbar-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  height: 50px;
}

.navbar-logo__image {
  height: 100%;
}

.navbar-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  list-style-type: none;
}

.navbar-buttons-link {
  margin-left: 2.5rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
}

.navbar-buttons-link::after {
  position: absolute;
  width: 0%;
  height: 2px;
  content: "";
  background-color: #ffffff;
  transition: .2s all ease-in-out;
}

.navbar-buttons-link:hover::after {
  width: 100%;
}

.navbar-buttons-link__custom {
  padding: .4rem 1rem;
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #ffffff;
  color: #000000;
  transition: .2s all ease-in-out;
}

.navbar-buttons-link__custom::after {
  display: none;
}

.navbar-buttons-link__custom:hover {
  background-color: transparent;
  color: #ffffff;
}

.navbar-mobile {
  display: none;
}

.navbar-hamburger {
  display: none;
  z-index: 3;
}

.sidebar {
  height: 8rem;
  padding: .8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  right: 0;
  top: calc(50vh - 4rem);
  z-index: 1;
  background-color: #ffffff;
}

.sidebar-icon {
  font-size: 1.6rem;
  text-decoration: none;
  color: #000000;
}

/* iPad pro*/
@media(max-width: 1024px) {
  .navbar-container {
    width: 90%;
  }
  
  .navbar-collapse {
    display: none;
  }

  .navbar-mobile {

  }

  .navbar-hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    width: 2.4rem;
    height: 1.6rem;
  }

  .navbar-hamburger-bar {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background-color: #ffffff;

    transition: .2s all ease-in-out;
  }

  .bar-0 {
    width: 70%;
  }

  .navbar-hamburger-active {
    position: relative;
  }

  .navbar-hamburger-active .bar-0 {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
  }

  .navbar-hamburger-active .bar-1 {
    position: absolute;
    top: 50%;
    opacity: 0;
  }

  .navbar-hamburger-active .bar-2 {
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
  }

  .navbar-mobile {
    position: fixed;
    top: 0;
    display: flex;
    background-color: #000;
    height: 100vh;
    width: 100%;
    display: none;
    z-index: 2;
  }

}