
.projects-modal {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    z-index: 400;

    position: fixed;
    top: 0;
    left: 0;

    background-color: black;
}

.projects-modal-top {
    width: 100%;
    height: fit-content;

    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.projects-modal__title {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    font-family: 'Raleway', sans-serif;
    font-size: 2.7rem;
    font-weight: 700;
    text-align: center;
    color: black;

    background-color: white;
}

.projects-modal__close {
    height: 2.5rem;
    width: 2.5rem;

    margin: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    background-color: white;

    font-size: 1.5rem;
}

.projects-modal-content {
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projects-modal-content-text {
    width: 60%;
}

.projects-modal-content-text__paragraph {
    margin-right: 6rem;

    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    color: white;
}

.projects-modal-content-text__paragraph-big {
    font-size: 1.6rem;
}

.projects-modal-content-image {
    width: 40%;

    margin: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-modal-content-image__mac {
    width: 100%;
    max-height: 100%;

    margin-bottom: 20px;
}

.projects-modal-content-buttons {
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.projects-modal-content-buttons-visit {
    margin-left: 40px;
    padding: 8px 12px;

    cursor: pointer;

    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: black;
    text-decoration: none;

    background-color: white;
}

.projects-modal-content-visit {
    margin-top: 20px;
    padding: 8px 12px;

    cursor: pointer;

    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: black;
    text-decoration: none;

    background-color: white;
}

.projects-modal-content__github {
    height: 3rem;
}

@media(max-width: 1024px) {
    .projects-modal {
        height: 200vh;
    }

    .projects-modal-top {
        margin-bottom: 0;
    }

    .projects-modal__title {
        margin: 25px 15px;

        font-size: 2rem;

        align-self: center;
    }

    .projects-modal__close {
        width: 2.3rem;
        height: 2.3rem;

        font-size: 1.4rem;

        margin: 10px;
    }

    .projects-modal-content {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .projects-modal-content-text__paragraph {
        font-size: 1.1rem;
        margin-right: 0;
    }

    .projects-modal-content-text__paragraph-big {
        font-size: 1.3rem;
    }

    .projects-modal-content-image {
        width: 100%;

        margin: 0;
    }

    .projects-modal-content-image__mac {
        width: 70%;

        margin-bottom: 0;

        align-self: center;
    }

    .projects-modal-content-buttons-visit {
        margin-left: 20px;

        font-size: 0.9rem;
    }

    .projects-modal-content-visit {
        font-size: 0.9rem;
    }

    .projects-modal-content__github {
        height: 2.4rem;
    }

    .projects-modal-content-text {
        width: 100%;
    }
}