body {
    margin: 0;
}

.flex-container {
    width: 100%;
    height: 400vh;
}

/*NAVBAR*/
.navbar {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 100;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: black;
}

.navbar-logo {
    padding-left: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-decoration: none;
}

.navbar-logo__image {
    height: 50px;
    width: auto;

    align-self: center;
}

.navbar-logo__text {
    margin-left: 0.5rem;

    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    align-self: center;
}

.navbar-collapse {
    margin-right: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-buttons {
    margin: 0;
    width: 500px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    list-style-type: none;
}

.navbar-buttons__link {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
}

.navbar-hamburger {
    display: none;
}

/*HOME*/
.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-image: url('../images/eberhard-grossgasteiger-382452-unsplash.jpg');
    background-size: cover;
    background-repeat: space;
    background-attachment: fixed;
    /*filter: grayscale(100%);*/
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home-content__bar {
    display: flex;
    align-self: center;

    height: 10px;
    width: 180px;

    background-color: black;
}

.home-content-box {
    margin-top: 20px;
    margin-bottom: 20px;

    padding-right: 24px;
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: black;
}

.home-content-box__title {
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 64px;
    font-weight: 600;
    text-align: center;

    color: white;
}

@media (max-width: 1024px) {

    /*NAVBAR*/
    .navbar {
        height: 60px;
    }

    .navbar-logo {
        padding-left: 20px;
    }

    .navbar-logo__image {
        height: 40px;
    }

    .navbar-logo__text {
        font-size: 20px;
        margin-left: 6px;
    }
    
    .navbar-collapse {
        display: flex;
        margin: 0;
    }

    .navbar-menu {
        background-color: black;
    }

    .navbar-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        
        width: 100%;
        height: 140px;

        position: absolute;
        left: 0;
        top: 100%;

        margin: 0;
        padding-top: 10px;
        padding-left: 40px;
        padding-bottom: 10px;

        background-color: black;
        border-top: 1px solid white;

        display: none;
    }

    .navbar-buttons {
        padding-top: 10px;
    }

    .navbar-buttons__link {
        font-size: 16px;
    }

    .navbar-buttons__link:hover {
        font-weight: 600;
    }

    .navbar-hamburger {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        padding-right: 20px;
    }

    .navbar-hamburger-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
    }

    .navbar-hamburger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
        height: 70%;
        text-decoration: none;
        position: relative;
    }

    .navbar-hamburger-icon:hover {
        font-weight: bold;
    }

    .navbar-hamburger__bar {
        background-color: white;
        height: 2px;
        width: 20px;
        border-radius: 20%;

        transition: all 0.4s;
    }


    /*Fazer o "X" quando abre o menu hamburguer*/
    .change .bar1 {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: absolute;
        top: 11px;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 11px;
    }

    /*HOME*/
    .home-content {
        width: 300px;
    }

    .home-content__bar {
        width: 140px;
    }

    .home-content-box {
        padding-left: 10px;
        padding-right: 10px;
    }

    .home-content-box__title {
        width: 260px;
        font-size: 42px;
    }

}