html {
    /* Other option for smooth scrolling */
    /*scroll-behavior: smooth;*/
}

body {
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex-container {
    width: 100%;
}

/* -------------------- NAVBAR --------------------*/
.navbar {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 100;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: black;
}

.navbar-logo {
    padding-left: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-decoration: none;
}

.navbar-logo__image {
    height: 50px;
    width: auto;

    align-self: center;
}

.navbar-logo__text {
    margin-left: 0.5rem;

    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    align-self: center;
}

.navbar-collapse {
    margin-right: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-buttons {
    margin: 0;
    width: 480px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    list-style-type: none;
}

.navbar-buttons__link {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.navbar-hamburger {
    display: none;
}

/* -------------------- HOME --------------------*/
.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-image: url('../images/eberhard-grossgasteiger-382452-unsplash-small.jpeg');
    background-size: cover;
    background-repeat: space;
    background-attachment: fixed;
    /*filter: grayscale(100%);*/
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home-content__bar {
    display: flex;
    align-self: center;

    height: 0.6rem;
    width: 180px;

    background-color: black;
}

.home-content-box {
    margin-top: 20px;
    margin-bottom: 20px;

    padding-right: 24px;
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: black;
}

.home-content-box__title {
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 64px;
    font-weight: 600;
    text-align: center;

    color: white;
}

/* -------------------- ABOUT ---------------------*/

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: black;
}

.about-flex-container {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-title {
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;


    font-family: 'Raleway', sans-serif;
    font-size: 2.7rem;
    font-weight: 700;
    text-align: center;
    color: black;

    background-color: white;
}

.about-title__small {
    font-size: 2rem;
    font-weight: 600;
}

.about-content-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 50%;
    height: 80%;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    margin-bottom: 40px;

    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    color: white;
}

.highlight {
    font-weight: 400;
}

.link {
    text-decoration: none;
    color: white;
}

.about-text-paragraph {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-text-paragraph__medium {
    font-size: 1.5rem;
}

.about-text-paragraph__big{
    font-size: 1.7rem;
}

.about-know {
    margin-left: 30px;
    margin-top: 0;

    font-size: 1.5rem;
    list-style-type: square;
}

.about-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 40%;
    margin-left: 10%;
}

.about-image__image {
    width: 80%;
    margin-bottom: 40px;

    border-radius: 100%;
    border: 8px solid white;
}

.about-image-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 1.3rem;
}

.about-image-text__text {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.3rem;
    color: white;
}

#typed {
    text-align: center;
}

.typed-cursor {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* -------------------- PROJECTS -------------------- */
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: white;
}

.projects-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 90%;
    height: 100%;
}

.projects-title {
    width: fit-content;
    align-self: flex-start;

    margin-top: 80px;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    font-family: 'Raleway', sans-serif;
    font-size: 2.7rem;
    font-weight: 700;
    text-align: center;
    color: white;

    background-color: black;
}

.projects-slick {    
    width: 90%;
    height: 60%;
}

.projects-slick-item {
    background-color: black;
    height: 54vh;
}

.slick-dots li button::before {
    font-size: 0.7rem;
}

.slick-slide {
    margin-left: 30px;
    margin-right: 30px;
}


/* -------------------- CONTACT -------------------- */
.contact {
    min-height: 100vh;
    width: 100%;

    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-flex-container {
    height: fit-content;
    width: 600px;

    padding: 20px 40px;

    border-radius: 5px;

    display: flex;
    flex-direction: column;

    background-color: white;
}

.contact-title {
    width: fit-content;
    margin-bottom: 40px;

    align-self: flex-start;

    border-bottom: 2px solid black;

    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    color: black;
}

.contact-form {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-form-box {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-form__field {
    height: 32px;
    width: 100%;

    margin-top: 20px;

    background-color: white;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;

}

.contact-form__field::placeholder {
    color: black;
    opacity: 1;
}

.contact-form__field:focus {
    border-bottom: 2px solid black;
}

.form-small {
    width: 48%;
}

.form-tall {
    height: 140px;

    margin-top: 5px;

    display: flex;
    flex-direction: column;
}

.contact-form__selector {
    width: 100%;
    height: 32px;

    background-color: white;
    border: none;
    outline: none;

    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: black;
}

.contact-success {
    margin: 0 auto;
    margin-top: 50px;

    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: black;
    text-align: center;

   display: none;
}

.contact-form__submit {
    height: 40px;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 15px;

    cursor: pointer;

    background-color: black;
    border-radius: 40px;
    border: none;
    outline: none;

    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    color: white;
}

.contact-form__submit:active {
    background-color: #2e2e2e;
}

/* -------------------- FOOTER -------------------- */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 320px;
    background-color: black;
}

.footer-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 288px;
    width: 90%;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;

    text-decoration: none;
}

.footer-logo__arrow {
    color: white;
    font-size: 2rem;
}

.footer-logo__image {
    width: 140px;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-social-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    margin-right: 50px;

    border-left: 1px solid white;
}

.footer-social-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;
}

.footer-social__icon {
    height: 3rem;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-social__text {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 32px;

    background-color: white;
}

.footer-bottom-copyright {
    margin-left: 15px;

    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
}

.footer-bottom-made {
    margin-right: 15px;

    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
}

@media (max-width: 1024px) {

    /* -------------------- NAVBAR -------------------- */
    .navbar {
        height: 60px;
    }

    .navbar-logo {
        padding-left: 20px;
    }

    .navbar-logo__image {
        height: 40px;
    }

    .navbar-logo__text {
        font-size: 1.2rem;
        margin-left: 6px;
    }
    
    .navbar-collapse {
        display: flex;
        margin: 0;
    }

    .navbar-menu {
        background-color: black;
    }

    .navbar-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        
        width: 100%;
        height: 140px;

        position: absolute;
        left: 0;
        top: 100%;

        margin: 0;
        padding-top: 10px;
        padding-left: 40px;
        padding-bottom: 10px;

        background-color: black;
        border-top: 1px solid white;

        display: none;
    }

    .navbar-buttons {
        padding-top: 10px;
    }

    .navbar-buttons__link {
        font-size: 1.1rem;
    }

    .navbar-buttons__link:hover {
        font-weight: 600;
    }

    .navbar-hamburger {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        padding-right: 20px;
    }

    .navbar-hamburger-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 32px;
        width: 32px;
    }

    .navbar-hamburger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
        height: 70%;
        text-decoration: none;
        position: relative;
    }

    .navbar-hamburger-icon:hover {
        font-weight: bold;
    }

    .navbar-hamburger__bar {
        background-color: white;
        height: 2px;
        width: 20px;
        border-radius: 50px;

        transition: all 0.4s;
    }


    /*Makes the X when opens the menu*/
    .change .bar1 {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: absolute;
        top: 11px;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 11px;
    }

    /* -------------------- HOME -------------------- */
    .home-content {
        width: 300px;
    }

    .home-content__bar {
        width: 140px;
    }

    .home-content-box {
        padding-left: 10px;
        padding-right: 10px;
    }

    .home-content-box__title {
        width: 260px;
        font-size: 42px;
    }

    /* -------------------- ABOUT -------------------- */
    .about {
        height: fit-content;
    }
    
    .about-flex-container {
        flex-direction: column-reverse;

        width: 86%;
    }

    .about-title {
        margin-bottom: 15px;

        font-size: 2.2rem;
    }

    .about-title__small {
        font-size: 1.4rem;
    }

    .about-content-box {
        width: 100%;
    }

    .about-know {
        font-size: 1.3rem;
        
        margin-left: 10px;
    }

    .about-image-container {
        width: 100%;
        margin-left: 0;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .about-image__image {
        margin-bottom: 30px;
    }

    .about-image-text__text {
        font-size: 1.1rem;
    }

    /* -------------------- PROJECTS -------------------- */
    .projects-flex-container {
        width: 86%;
    }

    .projects-title {
        margin-top: 40px;
        margin-bottom: 60px;
        
        font-size: 2.2rem;
    }   

    /* -------------------- CONTACT -------------------- */
    .contact {
        padding-bottom: 100px;
    }

    .contact-flex-container {
        width: 80%;
        padding: 20px 20px;
    }

    .contact-title {
        margin-bottom: 25px;
        margin-top: 5px;

        font-size: 24px;
    }

    .contact-form__field {
        margin-top: 15px;
    }

    .contact-form-box {
        flex-direction: column;
    }

    .form-small {
        width: 100%;
    }

    .form-tall {
        height: 120px;
    }

    .contact-form__submit {
        height: 40px;

        margin-top: 30px;
        margin-bottom: 10px;

        font-size: 1rem;
    }

    /* -------------------- FOOTER -------------------- */
    .footer {
        height: fit-content;
    }

    .footer-flex-container {
        flex-direction: column;
        height: fit-content;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .footer-logo__image {
        width: 100px;
    }

    .footer-social {
        margin-bottom: 40px;
    }

    .footer-social-box {
        margin: 0;

        flex-direction: row;

        border-left: none;
    }

    .footer-social__text {
        display: none;
    }

    .footer-bottom {
        flex-direction: column;
        justify-content: center;

        height: 60px;
    }

    .footer-bottom-copyright {
        margin-bottom: 3px;
        margin-left: 0;
    }

    .footer-bottom-made {
        margin-top: 3px;
        margin-right: 0;
    }

}